.page {
    margin: 30px 40px;
    /* height: 100%; */
}

.breadcrumb {
    font-size: 14px;
    color: var(--darkgrey1);
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 30px 0;
}

.detailLayout {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 45.4px rgba(0, 0, 0, 0.2);
}

.detailContainer {
    display: flex;
    gap: 40px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.image {
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
    height: 640px;
}

.bookInfo {
    width: calc(100% - 440px);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bookSection {
    position: relative;
    width: 100%;
    padding: 30px;
    border: 2px solid var(--lightgrey1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sectionTitle {
    font-size: 16px;
    color: var(--black);
    font-weight: 500;
}

.labelValue {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 180px);
}

.metaItem {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

.value {
    font-size: 14px;
    color: var(--darkblue);
}

.dateInput {
    padding: 12px 20px;
    border: 2px solid var(--lightgrey1);
    border-radius: 20px;
    font-size: 14px;
    font-family: var(--font-kanit), sans-serif;
    color: var(--darkblue);
}

.borrowDetailItem {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addressContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit {
    z-index: 2;
    position: absolute;
    top: 30px;
    right: 40px;
    /* cursor: pointer; */
}

.dueDate {
    width: fit-content;
    font-family: var(--font-kanit), sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    margin-top: 12px;
    border: none;
    cursor: default;
}

.dueDate:focus {
    outline: none;
}

.borrowButton {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.borrowButton:disabled {
    font-family: var(--font-kanit), sans-serif;
    padding: 12px 12px;
    border-radius: 20px;
    background: var(--darkgrey1);
    color: var(--white);
    border: 0;
}