:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --white: #FAFAFA;
  --black: #343434;
  --darkgrey1: #9F9F9F;
  --lightgrey1: #D9D9D9;
  --lightgrey2: #F7F7F7;
  --darkblue: #0B446A;
  --lightblue: #4F7DAE;
  --lightgreen: #C3E3BE;
  --green: #59A865;
  --lightyellow: #F1E1AF;
  --yellow: #E0B73D;
  --lightpurple: #E8DDEF;
  --purple: #956DAE;
  --babyblue: #C1CEE0;
  --blue: #306ABC;
  --lightred: #E4BCB5;
  --red: #D3533D;
  --cancel: #C66262;
  --confirm: #74ABA3;
  --waiting: #D6BA72;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-kanit), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

