-- CreateTable
CREATE TABLE "book_copy" (
    "copy_id" CHAR(10) NOT NULL,
    "book_id" CHAR(6) NOT NULL,
    "status" VARCHAR(10) NOT NULL,

    CONSTRAINT "book_copy_pkey" PRIMARY KEY ("copy_id")
);

-- CreateTable
CREATE TABLE "book_genre" (
    "book_id" CHAR(6) NOT NULL,
    "genre_id" CHAR(3) NOT NULL,

    CONSTRAINT "book_genre_pkey" PRIMARY KEY ("book_id","genre_id")
);

-- CreateTable
CREATE TABLE "book_title" (
    "book_id" CHAR(6) NOT NULL,
    "title" VARCHAR(100) NOT NULL,
    "author" VARCHAR(100) NOT NULL,
    "publisher" VARCHAR(100) NOT NULL,
    "year" INTEGER NOT NULL,
    "language" VARCHAR(20) NOT NULL,
    "page" INTEGER NOT NULL,
    "image_path" TEXT,

    CONSTRAINT "book_title_pkey" PRIMARY KEY ("book_id")
);

-- CreateTable
CREATE TABLE "booking_detail" (
    "booking_id" CHAR(10) NOT NULL,
    "member_id" CHAR(10) NOT NULL,
    "space_id" CHAR(4) NOT NULL,
    "start_time" TIMESTAMP(6) NOT NULL,
    "end_time" TIMESTAMP(6) NOT NULL,
    "pay_id" CHAR(10) NOT NULL,

    CONSTRAINT "booking_detail_pkey" PRIMARY KEY ("booking_id")
);

-- CreateTable
CREATE TABLE "borrowing_detail" (
    "borrow_id" CHAR(10) NOT NULL,
    "member_id" CHAR(10) NOT NULL,
    "book_copy_id" CHAR(10) NOT NULL,
    "approved_by" CHAR(10) NOT NULL,
    "borrow_date" DATE NOT NULL,
    "due_date" DATE NOT NULL,
    "return_date" DATE,
    "status" VARCHAR(10) NOT NULL,
    "pay_id" CHAR(10),

    CONSTRAINT "borrowing_detail_pkey" PRIMARY KEY ("borrow_id")
);

-- CreateTable
CREATE TABLE "genre" (
    "genre_id" CHAR(3) NOT NULL,
    "genre_name" VARCHAR(20) NOT NULL,
    "description" TEXT NOT NULL,

    CONSTRAINT "genre_pkey" PRIMARY KEY ("genre_id")
);

-- CreateTable
CREATE TABLE "membership_tier" (
    "tier" VARCHAR(10) NOT NULL,
    "benefits" TEXT NOT NULL,
    "discount_percentage" INTEGER NOT NULL,
    "monthly_fee" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "membership_tier_pkey" PRIMARY KEY ("tier")
);

-- CreateTable
CREATE TABLE "payment" (
    "pay_id" CHAR(10) NOT NULL,
    "member_id" CHAR(10) NOT NULL,
    "staff_id" CHAR(10),
    "create_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "amount" REAL NOT NULL,
    "method" VARCHAR(20) NOT NULL,
    "status" VARCHAR(10) NOT NULL,

    CONSTRAINT "payment_pkey" PRIMARY KEY ("pay_id")
);

-- CreateTable
CREATE TABLE "space_type" (
    "space_name" VARCHAR(50) NOT NULL,
    "area" INTEGER NOT NULL,
    "facilities" TEXT NOT NULL,
    "capacity" INTEGER NOT NULL,
    "price" REAL NOT NULL,
    "image_path" TEXT,

    CONSTRAINT "space_type_pkey" PRIMARY KEY ("space_name")
);

-- CreateTable
CREATE TABLE "subscription" (
    "member_id" CHAR(10) NOT NULL,
    "start_date" DATE NOT NULL,
    "end_date" DATE NOT NULL,
    "tier" VARCHAR(10) NOT NULL,
    "pay_id" VARCHAR(10),

    CONSTRAINT "subscription_pkey" PRIMARY KEY ("member_id","start_date")
);

-- CreateTable
CREATE TABLE "user" (
    "user_id" CHAR(10) NOT NULL,
    "f_name" VARCHAR(50) NOT NULL,
    "l_name" VARCHAR(50) NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "password" VARCHAR(100) NOT NULL,
    "role" VARCHAR(10) NOT NULL,
    "phone" CHAR(10),
    "address" TEXT,
    "image_path" TEXT,

    CONSTRAINT "user_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "working_space" (
    "space_id" CHAR(4) NOT NULL,
    "space_name" VARCHAR(50) NOT NULL,
    "status" VARCHAR(20) NOT NULL,

    CONSTRAINT "working_space_pkey" PRIMARY KEY ("space_id")
);

-- AddForeignKey
ALTER TABLE "book_copy" ADD CONSTRAINT "book_copy_book_id_fkey" FOREIGN KEY ("book_id") REFERENCES "book_title"("book_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "book_genre" ADD CONSTRAINT "book_genre_book_id_fkey" FOREIGN KEY ("book_id") REFERENCES "book_title"("book_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "book_genre" ADD CONSTRAINT "book_genre_genre_id_fkey" FOREIGN KEY ("genre_id") REFERENCES "genre"("genre_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "booking_detail" ADD CONSTRAINT "booking_detail_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "booking_detail" ADD CONSTRAINT "booking_detail_pay_id_fkey" FOREIGN KEY ("pay_id") REFERENCES "payment"("pay_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "booking_detail" ADD CONSTRAINT "booking_detail_space_id_fkey" FOREIGN KEY ("space_id") REFERENCES "working_space"("space_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "borrowing_detail" ADD CONSTRAINT "borrowing_detail_approved_by_fkey" FOREIGN KEY ("approved_by") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "borrowing_detail" ADD CONSTRAINT "borrowing_detail_book_copy_id_fkey" FOREIGN KEY ("book_copy_id") REFERENCES "book_copy"("copy_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "borrowing_detail" ADD CONSTRAINT "borrowing_detail_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "borrowing_detail" ADD CONSTRAINT "borrowing_detail_pay_id_fkey" FOREIGN KEY ("pay_id") REFERENCES "payment"("pay_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment" ADD CONSTRAINT "payment_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment" ADD CONSTRAINT "payment_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subscription" ADD CONSTRAINT "subscription_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subscription" ADD CONSTRAINT "subscription_pay_id_fkey" FOREIGN KEY ("pay_id") REFERENCES "payment"("pay_id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subscription" ADD CONSTRAINT "subscription_tier_fkey" FOREIGN KEY ("tier") REFERENCES "membership_tier"("tier") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "working_space" ADD CONSTRAINT "working_space_space_name_fkey" FOREIGN KEY ("space_name") REFERENCES "space_type"("space_name") ON DELETE CASCADE ON UPDATE CASCADE;

