.breadcrumb {
    font-size: 14px;
    font-weight: 500;
    color: var(--darkgrey1);
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 30px 0;
}

.breadcrumbItem {
    display: flex;
    align-items: center;
    gap: 8px;
}