.button {
  font-family: var(--font-kanit), sans-serif;
  padding: 12px 12px;
  border-radius: 20px;
  background: var(--darkblue);
  color: var(--white);
  border: 0;
  cursor: pointer;
}

.button:disabled {
  font-family: var(--font-kanit), sans-serif;
  padding: 12px 12px;
  border-radius: 20px;
  background: var(--darkgrey1);
  color: var(--white);
  border: 0;
  cursor: default;

  /* background-color: var(--lightgrey2);
  cursor: not-allowed; */
}