.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--font-kanit), sans-serif;
  padding: 12px 12px;
  border-radius: 20px;
  background: var(--darkblue);
  color: var(--white);
  border: 0;
  cursor: pointer;
}

.button:disabled {
  font-family: var(--font-kanit), sans-serif;
  padding: 12px 12px;
  border-radius: 20px;
  background: var(--darkgrey1);
  color: var(--white);
  border: 0;
  cursor: default;
}

.iconButton {
  color: var(--darkblue);
  border: 0;
  cursor: pointer;
  display: flex;
  align-content: center;
}

.iconButton:disabled {
  color: var(--darkgrey1);
  border: 0;
  cursor: default;
  display: flex;
  align-content: center;
}
