.linkButton {
    position: relative;
    height: 170px;
    width: 300px;
    display: grid;
    place-content: center;
    border-radius: 20px;
    overflow: hidden;
    color: var(--white);
}

.bgImage {
  object-fit: cover;
  filter: brightness(40%);
  z-index: 0;
}

.genreText {
    z-index: 1;
}