.header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--darkblue);
    font-family: var(--font-kanit), sans-serif;
    font-size: 14px;
    color: var(--white);
}

.header h1 {
    font-size: 24px;
}

.nav {
    display: flex;
    /* gap: 50px; */
}

.navLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  min-width: 180px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: hidden;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownItem {
  display: block;
  padding: 10px 20px;
  color: var(--black);
  text-decoration: none;
}

.dropdownItem:hover {
  background-color: var(--lightblue);
}

.dropdownItem:hover {
  color: var(--white);
}

.profile {
    /* width: 10vw;
    height: 100px; */
    display: flex;
    align-items: center;
}

.authContainer {
  display: flex;
  align-items: center;
}

.seperator {
  margin: 0 10px;
}

.textButton {
  background: none;
  border: none;
  outline: none;
  font-family: var(--font-kanit), sans-serif;
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
}