.header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--darkblue);
    font-family: var(--font-kanit), sans-serif;
    font-size: 14px;
    color: var(--white);
    position: sticky;
    top: 0;
}

.header h1 {
    font-size: 24px;
}

.nav {
    display: flex;
    gap: 5px;
}

.navLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    gap: 10px;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  min-width: 180px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: hidden;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownItem {
  display: block;
  padding: 10px 20px;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--lightblue);
  color: var(--white);
}

.profileIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* margin-right: 10px; */
}

.profileInfo {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.name {
  color: var(--white);
}

.role {
  color: var(--lightgrey1);
}

.authContainer {
  display: flex;
  align-items: center;
}

.seperator {
  margin: 0 10px;
}

.link {
  cursor: pointer;
}