.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  font-family: var(--font-kanit), sans-serif;
  font-weight: 500;
  color: var(--black);
}

.modal {
  position: relative;
  width: 520px;
  height: 545px;
  background: var(--white);
  border-radius: 20px;
  padding: 50px 75px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
}

.header {
  text-align: center;
  font-size: 32px;
  color: var(--darkblue);
  margin-bottom: 6px;
}

.title {
  text-align: center;
  margin-bottom: 22px;
  font-size: 14px;
}

.form {
  display: grid;
  gap: 15px;
}

.label {
  display: grid;
  gap: 15px;
}

.input {
  font-family: var(--font-kanit), sans-serif;
  color: var(--darkblue);
  padding: 15px 20px;
  border-radius: 20px;
  border: 2px solid var(--lightgrey1);
  outline: none;
}

.input:focus {
  border-color: var(--darkblue);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.checkboxWrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.box {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  display: grid;
  place-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox:checked + .box {
  background: var(--darkblue);
  border-color: var(--darkblue);
}

.checkbox:checked + .box .icon {
  opacity: 1;
}

.labelText {
  font-size: 14px;
}


.submit {
  font-family: var(--font-kanit), sans-serif;
  margin-top: 8px;
  padding: 12px 12px;
  border-radius: 20px;
  background: var(--darkblue);
  color: var(--white);
  border: 0;
  cursor: pointer;
}
