.header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: baseline;
    margin-bottom: 30px;
}

.title {
    font-size: 20px;
    color: var(--black);
}

.seeAll {
    color: var(--lightblue);
}

.section {
    margin: 30px 0;
}