.page {
    margin: 40px;
}

.layout {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 45.4px rgba(0, 0, 0, 0.2);
}

.flex {
    display: flex;
    gap: 30px;
}

.form {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dateTimeBox {
    border-radius: 20px;
    border: 2px solid var(--lightgrey1);

}

.paymentBox {
    border-radius: 20px;
    border: 2px solid var(--lightgrey1);
    
}

.summary {
    width: 35%;
    border-radius: 20px;
    border: 2px solid var(--lightgrey1);
}