.searchbar {
    width: 45vw;
    height: 45px;
}

.searchbar input {
    font-family: var(--font-kanit), sans-serif;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--black);
}